.logo{
  float:left;
  height:89px;
}

.logo img{
    margin-top:12px
}

.desktopmenu{
    background:transparent !important;
}

.desktopmenu .ant-menu-item{
  font-size:15px;
  color:#fff;
  padding:0px 15px
}

.desktopmenu .ant-menu-item button{
  font-size:15px;
}

.desktopmenu .ant-menu-item .ant-btn-background-ghost{
    color:#fff;
    border-color:#fff
}

.desktopmenu .ant-btn-background-ghost.ant-btn-primary:focus{
    color:#fff;
    border-color:#fff
}

.menubutton{
    display:none
}

@media screen and (max-width: 1240px) {
    .desktopmenu .ant-menu-item{
        display:none
    }
    .desktopmenu .menubutton{
        display:block
    }
}

@media screen and (max-width: 768px) {
    .logo img{
      margin-top:17px;
      width:220px
    }

}
