.ant-carousel .slick-dots{
    bottom:90px !important
}

.ant-carousel .slick-dots li button {
    width:50px !important;
    height:4px !important
}

.ant-carousel .slick-dots li.slick-active button{
    width:70px !important;
}

.slider-content{
    color:#fff;
    margin-top:260px;
    margin-left:16%;
    text-align:left
}
.slider-content .slider-caption{
    max-width:480px
}

.slider-content h1{
    font-size: 48px
}

.slider-content h2{
    margin-top:10px;
    font-size: 24px;
    font-weight:400
}

.slider-content button{
    margin-top:30px;
    font-size:16px
}

@media screen and (max-width: 1270px) {
    .slider-content{
        margin-left:12%;
    }
}

@media screen and (max-width: 980px) {
    .slider-content{
        margin-left:6%;
    }
}

@media screen and (max-width: 767px) {
    .slider-content{
        margin-left:15px;
        margin-top:200px;
    }

    .slider-content h1{
        font-size: 30px
    }

    .slider-content h2{
        font-size: 16px;
    }

    .slider-content button{
        font-size:14px
    }
}